body{
    margin: 0% ;
    padding: 0%;
}
header nav{
    margin-bottom: 50px;
    background-color: rgb(61, 60, 60);
    height: 100px;
    
}
header nav img{
    margin-left: 50px;
    float: left;
    padding-top: 15px;
}
nav ul li {
    display: inline;
    padding: 90px;
    line-height: 100px;
   color: darkgray;
   font-weight: bold;
   font-family: sans-serif;
}
main img{
    margin-left: 18%;
    margin-bottom: 50px;
}
main article img {
    display: inline;
    margin-left: 140px;
}
main article section img{
    float: left;
}
main article section div{
    width: 500px;
    float: left;
    margin-left: 225px;
    line-height: 22px;
    margin-bottom: 10%;
}
main article section div h1{
    font-size: 20px;
    padding-bottom: 5px;
    font-family: sans-serif;
}
main article section div p{
    font-style: oblique;
    font-family: sans-serif;
}
main article section div button{
    background-color: black;
    color: white;
    margin-top: 5px;
    padding: 5px 20px;
}
footer{
    background-color: rgb(61, 60, 60);
    height: 50px ;
    width: 100%;
    position: fixed;
    bottom: 0%;
}